.display-container {
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    box-shadow: 0 0 15px 0 hsla(0, 0%, 100%, 75);
    background-size: cover;
  }